h1{
text-align: center;
}

#dinamic{
  width: 50%;margin-left: 0%
}

#breakdance{
  width: 50%;margin-left: 0%
}

#girlboydance{
  width: 50%;margin-left: 0%
}

body{
  background: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(#bd8aff
));

}

body{
  color: black
}
